@media screen {

    /*.image-background {
        background-image: url(background.svg);
    }*/

    .icon-opendesktop-app {
        background-image: url(app-icons/opendesktop-app.svg);
    }

    .icon-chevron-left {
        background-image: url(material-design-icons/ic_chevron_left_black_48px.svg);
    }

    .icon-chevron-right {
        background-image: url(material-design-icons/ic_chevron_right_black_48px.svg);
    }

    .icon-close {
        background-image: url(material-design-icons/ic_close_black_48px.svg);
    }

    .icon-menu {
        background-image: url(material-design-icons/ic_menu_black_48px.svg);
    }

    .icon-info {
        background-image: url(material-design-icons/ic_info_outline_white_48px.svg);
    }

    .icon-loading {
        background-image: url(misc/loading.svg);
    }

}
